<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.copyright %}
        Copyright <i class="fa fa-copyright"></i> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
        {% endif %}
        <ul class="contact-list">
          <li>{{ site.author.name }}</li>
          <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {% if site.author.phone %}
          <li>
            {{ site.author.phone }}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="fs-150">
            {% if site.author.github_url %}
            {% include fa-url.html icon="github" url=site.author.github_url %}
            {% endif %}
            {% if site.author.bitbucket_url %}
            {% include fa-url.html icon="bitbucket" url=site.author.bitbucket_url %}
            {% endif %}
            {% if site.author.twitter_url %}
            {% include my-fa-url.html icon="twitter-square" url=site.author.twitter_url %}
            {% endif %}
            {% if site.author.linkedin_url %}
            {% include my-fa-url.html icon="linkedin-square" url=site.author.linkedin_url %}
            {% endif %}
          </li>
          <li class="fs-150">
            {% if site.author.researchgate_url %}
            {% include ai-url.html icon="researchgate-square" url=site.author.researchgate_url %}
            {% endif %}
            {% if site.author.googlescholar_url %}
            {% include ai-url.html icon="google-scholar-square" url=site.author.googlescholar_url %}
            {% endif %}
          </li>
        </ul>
        
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>{{ site.author.adress }}</li>
        </ul>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% include img-url.html obj=site.inria %}
      </div>
      <div class="footer-col footer-col-2">
        {% include img-url.html obj=site.imb %}
      </div>
      <div class="footer-col footer-col-3">
        {% include img-url.html obj=site.univbdx %}
      </div>
    </div>
  </div>
  
</div>

</footer>
