---
layout: page
---

{% for section in site.data.com %}
  <h1 id="{{ section[0] }}">{{ section[0] }}</h1>
  <ul>
  {% for com in section[1] %}
      <li>{{ com.month }} {{ com.year }}, {{ com.location }}, {% for ev in com.events %}{% if ev.url %}<a href="{{ ev.url }}">{% endif %}<strong>{{ ev.title | markdownify | remove: '<p>' | remove: '</p>' }}</strong>{% if ev.url %}</a>{% endif %}{% unless forloop.last %} + {% endunless %}{% endfor %}<br>
      {% for c in com.content %}
        {{ c.type }}{% if c.speaker %} ({{ c.speaker | markdownify | remove: '<p>' | remove: '</p>' }}){% endif %}: <em>{% if c.url %}<a href="{{ c.url }}">{% endif %}{{ c.title }}{% if c.url %}</a>{% endif %}</em>{% if c.links %} [{% for l in c.links %}<a href="{{ l[1] }}">{{ l[0] }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %}<br>
      {% endfor %}
      </li>
  {% endfor %}
  </ul>
{% endfor %}

{{ content }}
